html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.right-section, .btn-login{
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.site-layout-content {
  min-height: 450px;
  padding: 70px 100px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
    padding: 150px 100px;
}

.MuiGrid-spacing-xs-3 {
    width: 100%;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
    background: #4040c2;
    color: #ffffff;
}

.MuiAppBar-colorPrimary {
  padding-top: 10px;
  padding-bottom: 10px;
}